# Azure
export RESOURCE_GROUP_NAME=alispoa
export SUBSCRIPTION_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx

# Azure:Ethereum Proof-of-Authority Consortium
export ETHEREUM_RPC_ENDPOINT=http://xxxxxxxxxx-dns-reg1.japaneast.cloudapp.azure:8540

# Your EOA
# ***** DON'T USE IT FOR PRODUCTION *****
export MNEMONIC="physical siege permit top wet rose genuine leisure cool denial toddler nerve"

# MSA Token
export POA_CHAIN_MSA_TOKEN_ADDRESS=0xef95692d7b2c23181219d2367fdd3187b4b6068b
export POA_CHAIN_ADMIN_PUBLIC_KEY=`cat parameters.json | jq -r '.parameters.ethereumAdminPublicKey.value'`
