# Azure
export SUBSCRIPTION_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx

# Azure:Ethereum Proof-of-Authority Consortium
export ETHEREUM_RPC_ENDPOINT=http://xxxxxxxxxx-dns-reg1.japaneast.cloudapp.azure:8540

# Your EOA
export MNEMONIC="physical siege permit top wet rose genuine leisure cool denial toddler nerve"
